
body {

	font-family: 'Lato', sans-serif;
}
h1 {
	font-family: 'Lato', sans-serif;
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-size: 30px;
}

h2 {
	font-family: 'Roboto Condensed', sans-serif;
	
	text-transform: uppercase;
}
h3 {
	font-family: 'Lora', serif;
}
h4 {
	font-family: 'Lora', serif;
}
span {
	text-align: right;
}
.kicker {
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-weight: bold;

}
.nav {
	text-align: center;
}
.most-viewed-stories {
	text-align: right;
}
.footer {
	text-align: center;
}
.header {
	background-color: #333333;
	padding: 50px 50px;
}

.byline {
	font-weight: bold;
	color: #BABABA;
}
