h1 {
	font-family: 'Lato', sans-serif;
}

h2 {
	font-family: 'Roboto Condensed', sans-serif;
	font-style: bold;
	text-transform: uppercase;
}
h3 {
	font-family: 'Lora', serif;
}
h4 {
	font-family: 'Lora', serif;
}
